.avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.header {
  display: flex;
  background-color: #252b48;
  color: #fff;
  padding: 15px 30px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000s;
}

.pi-shopping-bag {
  font-size: 28px;
  color: #fff;
}

.cart-icon {
  position: relative;
}
.quantity {
  position: absolute;
  font-size: 18px;
  color: #fff;
  bottom: -20px;
  right: -20px;
}
